{% extends request.current_app_base_template %}
{% load i18n %}
{% block content %}

  <h2>{% trans "Additional Data Quality Checks" %}</h2>

  <p>
    This page details all of the Additional Checks carried out by the 360Giving Data Quality Tool.
    These tests are divided between <a href="#accuracy">Accuracy</a> checks which highlight potential errors in the data, and <a href="#usefulness">Usefulness</a> checks which highlight opportunities to improve the data’s usefulness.
  </p>

  <ul>
    <li><b>Class name<b> is the unique name for each check.</li>
    <li>When a check is triggered the <b>Heading<b> is prefixed by text such as "X of your grants have...", apart from when the check refers to the whole dataset (eg the multiple Funding Org check).</li>
    <li>The <b>Message<b> is displayed if the check is triggered.</li>
    <li>The <b>Method<b> describes the check itself.</li>
  </ul>

  <h2 id="accuracy">Accuracy Checks</h2>
  {% for check in checks_quality_accuracy %}
    <div>
      <h4>
        <label>Class name:</label> {{check.class_name}}
      </h4>
      <label>Heading:</label> {{check.heading}}<br/>
      <label>Messages:</label>
        {% for percentage_range, message in check.messages %}
            {{message}}<br/>
        {% endfor %}
      <label>Method:</label> {{check.desc}}
    </div>
  {% endfor %}

  <h2 id="usefulness">Usefulness Checks</h2>
  {% for check in checks_usefulness %}
    <div>
      <h4>
        <label>Class name:</label> {{check.class_name}}
      </h4>
      <label>Heading:</label> {{check.heading}}<br/>
      <label>Messages:</label>
        {% for percentage_range, message in check.messages %}
            {{message}}<br/>
        {% endfor %}
      <label>Method:</label> {{check.desc}}
    </div>
  {% endfor %}

{% endblock %}
