{% extends request.current_app_base_template %}
{% load i18n %}
{% block content %}

  <h2>{% trans "Additional Data Quality Checks" %}</h2>

  <p>
    This page details all of the Additional Checks carried out by the 360Giving Data Quality Tool.
    These tests are divided between <a href="#accuracy">Accuracy</a> checks which highlight potential errors in the data, and <a href="#usefulness">Usefulness</a> checks which highlight opportunities to improve the data’s usefulness.
  </p>

  <ul>
    <li><strong>Class name</strong> is the unique name for each check.</li>
    <li>When a check is triggered the <strong>Heading</strong> is prefixed by text such as "X of your grants have...", apart from when the check refers to the whole dataset (eg the multiple Funding Org check).</li>
    <li>The <strong>Message</strong> is displayed if the check is triggered.</li>
    <li>The <strong>Method</strong> describes the check itself.</li>
  </ul>

  <h2 id="accuracy">Accuracy Checks</h2>
  {% for check in checks_quality_accuracy %}
    <div>
      <h4 id="{{check.class_name}}">
        <strong>Class name:</strong> {{check.class_name}}
      </h4>
      <p>
      <strong>Heading:</strong> {{check.heading|safe}}</p>
      <strong>Messages:</strong>
        {% for percentage_range, message in check.messages %}
        <p>{{message|safe}}</p>
        {% endfor %}
      <p><strong>Method:</strong> {{check.desc|safe}}</p>
    </div>
  {% endfor %}

  <h2 id="usefulness">Usefulness Checks</h2>
  {% for check in checks_usefulness %}
    <div>
      <h4 id="{{check.class_name}}">
        <strong>Class name:</strong> {{check.class_name}}
      </h4>
      <p>
      <strong>Heading:</strong> {{check.heading|safe}}</p>
      <strong>Messages:</strong>
        {% for percentage_range, message in check.messages %}
        <p>{{message|safe}}</p>
        {% endfor %}
      <p><strong>Method:</strong> {{check.desc|safe}}</p>
    </div>
  {% endfor %}

{% endblock %}
