{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:title" content="360Giving Data Quality Tool" />
    <meta property="og:description"
      content="360Giving Data Quality tool helps publishers to check their data conforms to the 360Giving Data Standard and submit the data for publishing." />
    <meta name="description"
      content="360Giving Data Quality tool helps publishers to check their data conforms to the 360Giving Data Standard and submit the data for publishing." />

    <title>360Giving Data {% if submission_tool %}Submission{% else %}Quality{% endif %} Tool</title>

    <link rel="shortcut icon" href="{% static 'dataexplore/images/favicon/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dataexplore/css/main.css' %}?v={{request.tag}}">
    <link rel="stylesheet" type="text/css" href="{% static 'dataexplore/css/extra.css' %}?v={{request.tag}}">
  </head>

  <body>
    {# Start temp banner for launch #}
    <div class="alert-tag">
      <span class="alert-tag__icon"><svg width="16" height="16" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7 5.83333C6.70833 5.83333 6.41667 6.06667 6.41667 6.41667V9.91667C6.41667 10.2667 6.65 10.5 7 10.5C7.29167 10.5 7.58333 10.2667 7.58333 9.91667V6.41667C7.58333 6.125 7.29167 5.83333 7 5.83333ZM7 3.5C6.70833 3.5 6.41667 3.73333 6.41667 4.08333C6.41667 4.375 6.65 4.66667 7 4.66667C7.29167 4.66667 7.58333 4.43333 7.58333 4.08333C7.58333 3.79167 7.29167 3.5 7 3.5ZM7 0C3.15 0 0 3.15 0 7C0 10.85 3.15 14 7 14C10.85 14 14 10.85 14 7C14 3.15 10.85 0 7 0ZM7 12.8333C3.79167 12.8333 1.16667 10.2083 1.16667 7C1.16667 3.79167 3.79167 1.16667 7 1.16667C10.2083 1.16667 12.8333 3.79167 12.8333 7C12.8333 10.2083 10.2083 12.8333 7 12.8333Z" fill="#1D1536"/>
        </svg>
      </span>
      <span class="alert-tag__content">Noticed the new look? <a href="https://www.360giving.org/2025/03/25/upgraded-data-quality-tool/">Read our blog to learn more about what's changed</a></span>
    </div>
    {# End temp for launch #}



    {% include "cove_360/components/universal-nav-bar.html" %}
    <div class="layout layout--single-column">
      <div class="top-bar">
        <nav class="top-bar__menu contextual-menu">
          <ul>
            <li class="contextual-menu__item">
              <a class="contextual-menu__button" href="{% url 'index' %}">Data Quality Tool</a>
            </li>
            <li class="contextual-menu__item">
              <a class="contextual-menu__button" href="{% url 'publishing' %}">Data Submission Tool</a>
            </li>
            <li class="contextual-menu__item">
              <a class="contextual-menu__button" href="https://standard.threesixtygiving.org/">360Giving Standard</a>
            </li>

          </ul>
        </nav>

        <div class="off-canvas-menu" aria-hidden>
          <button class="off-canvas-menu__trigger"><i class="material-icons">close</i></button>
          <nav>
            <ul class="off-canvas-menu__contextual">
              <li class="off-canvas-menu__item">
                <a class="" href="/">Data Quality Tool</a>
              </li>
              <li class="off-canvas-menu__item">
                <a class="" href="{% url "publishing" %}" title="Data Submission Tool">Data Submission Tool</a>
                <a class="" href="https://standard.threesixtygiving.org/">360Giving Standard</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <header class="layout__header">
        <div class="hero-section">
          <div class="wrapper">
            <div class="hero hero--orange">
              <div class="hero__column hero__logo">
                <a href="/"><img src="{% static 'dataexplore/images/360-giving-logo.svg' %}" alt="360Giving"></a>
              </div>
              <div class="hero__column hero__lead">
                <h2 class="hero__title">{% if submission_tool %}Data Submission Form{% else %}Data Quality Checker{% endif %}</h2>
                <p class="hero__blurb">{% if submission_tool %}Submit your 360Giving data file to be included in the 360Giving Data Quality Dashboard and tools{% else %}Check data using the 360Giving Data Standard{% endif %}</p>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="spacer-1"></div>
      <div class="layout__content">
        {% block content %}
        {% endblock %}
      </div>

      {% if DEBUG or DISABLE_COOKIE_POPUP %}
      {# cookie popup disabled by env debug={{DEBUG}} OR DISABLE_COOKIE_POPUP={{DISABLE_COOKIE_POPUP}} #}
      {% else %}
      {% include "cove_360/components/cookie_consent.html" %}
      {% endif %}

      {% include "cove_360/components/footer.html" %}

  </body>

  <script src="{% static 'dataexplore/js/tab-switcher.js' %}?v={{request.tag}}"></script>
  <script src="{% static 'dataexplore/js/modals.js' %}?v={{request.tag}}"></script>
</html>
