{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:title" content="360Giving Data Quality Tool" />
    <meta property="og:description"
      content="360Giving Data Quality tool helps publishers to check their data conforms to the 360Giving Data Standard and submit the data for publishing." />
    <meta name="description"
      content="360Giving Data Quality tool helps publishers to check their data conforms to the 360Giving Data Standard and submit the data for publishing." />

    <title>360Giving Data {% if submission_tool %}Submission{% else %}Quality{% endif %} Tool</title>

    <link rel="shortcut icon" href="{% static 'dataexplore/images/favicon/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dataexplore/css/main.css' %}?v={{request.tag}}">
    <link rel="stylesheet" type="text/css" href="{% static 'dataexplore/css/extra.css' %}?v={{request.tag}}">
  </head>

  <body>
    <div class="layout layout--single-column">
      <div class="top-bar">
        <nav class="top-bar__menu contextual-menu">
          <ul>
            <li class="contextual-menu__item">
              <a class="contextual-menu__button" href="{% url 'index' %}">Data Quality Tool</a>
            </li>
            <li class="contextual-menu__item">
              <a class="contextual-menu__button" href="{% url 'publishing' %}">Data Submission Tool</a>
            </li>
            <li class="contextual-menu__item">
              <a class="contextual-menu__button" href="https://standard.threesixtygiving.org/">360 Giving Standard</a>
            </li>

          </ul>
        </nav>

        <div class="off-canvas-menu" aria-hidden>
          <button class="off-canvas-menu__trigger"><i class="material-icons">close</i></button>
          <nav>
            <ul class="off-canvas-menu__contextual">
              <li class="off-canvas-menu__item">
                <a class="" href="/">Data Quality Tool</a>
              </li>
              <li class="off-canvas-menu__item">
                <a class="" href="{% url "publishing" %}" title="Data Submission Tool">Data Submission Tool</a>
                <a class="" href="https://standard.threesixtygiving.org/">360 Giving Standard</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <header class="layout__header">
        <div class="hero-section">
          <div class="wrapper">
            <div class="hero hero--orange">
              <div class="hero__column hero__logo">
                <a href="/"><img src="{% static 'dataexplore/images/360-giving-logo.svg' %}" alt="360 Giving"></a>
              </div>
              <div class="hero__column hero__lead">
                <h2 class="hero__title">Data {% if submission_tool %}Submission{% else %}Quality{% endif %} Tool</h2>
                <p class="hero__blurb">{% if submission_tool %}Submit your 360Giving data file to be included in the 360Giving Data Registry and tools{% else %}Convert, Validate, Explore 360 Giving Data{% endif %}</p>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="spacer-1"></div>
      <div class="layout__content">
        {% block content %}
        {% endblock %}
      </div>

      {% if DEBUG or DISABLE_COOKIE_POPUP %}
      {# cookie popup disabled by env debug={{DEBUG}} OR DISABLE_COOKIE_POPUP={{DISABLE_COOKIE_POPUP}} #}
      {% else %}
      {% include "cove_360/components/cookie_consent.html" %}
      {% endif %}

      {% include "cove_360/components/footer.html" %}

  </body>

  <script src="{% static 'dataexplore/js/tab-switcher.js' %}?v={{request.tag}}"></script>
  <script src="{% static 'dataexplore/js/modals.js' %}?v={{request.tag}}"></script>
</html>