{% extends 'explore.html' %}

{% if "self_publishing" in data_status.supplied_data.parameters %}
  {% block hero_title %}Data submission tool{% endblock %}
  {% block hero_blurb %}Submit your 360Giving data file be included in the 360Giving Data Registry{% endblock %}
{% endif %}

{% block content %}

{% if "self_publishing" in data_status.supplied_data.parameters %}
  {% include "cove_360/components/explore_publishing.html" %}
{% else %}
  {% include "cove_360/components/explore_checking.html" %}
{% endif %}

{% endblock %}