{% load i18n %}
{% load static %}
<!-- style hack the be unbound by container in lib-cove-web base.html container -->
<footer class="layout__footer" style="margin: 1em -100%; margin: 1em calc(50% - 50vw); margin-bottom: 0px">

	<div class="subscribe-section">
	    <div class="subscribe-section__wrapper">
		<form action="#" class="subscribe-section__form">
		    <label for="subscribe" class="screen-reader-only">Subscribe</label>
		    <input type="email" id="subscribe" placeholder="Subscribe to our newsletter">
		    <input type="submit" value="Send">
		</form>
	    </div>
	</div>
	<footer class="footer">
	    <div class="footer__row wrapper">
		<div class="footer__column-2 footer__branding">
		    <div class="footer__logo"><img src="{% static 'dataexplore/images/360-giving-logo-white.svg' %}"
			    alt="360Giving"></div>
		    <p class="footer__tagline">Open data for more effective grantmaking</p>
		</div>
		<div class="footer__column-1 footer__social">
		    <a href="https://github.com/ThreeSixtyGiving/dataquality" class="github-icon"><img src="{% static 'dataexplore/images/github-logo.svg' %}"
			    alt="Check our Github"></a>
		    <a href="https://twitter.com/360Giving/" class="twitter-icon"><img src="{% static 'dataexplore/images/twitter-logo.svg' %}"
			    alt="Follow us on Twitter"></a>
		</div>
	    </div>

	    <div class="footer__row wrapper">
		<div class="footer__column-2 footer__section medium-up">
		    <h3 class="footer__heading">Links</h3>
		    <ul>
			<li><a href="/">Home</a></li>
			<li><a href="{% url 'common_errors' %}">Common Errors</a></li>
			<li><a href="https://threesixtygiving.org/">360Giving</a></li>
		    </ul>
		</div>

		<div class="footer__column-2 footer__section medium-up">
		    <h3 class="footer__heading">Other Products</h3>
		    <ul>
			<li><a href="https://grantnav.threesixtygiving.org/">GrantNav</a></li>
			<li><a href="https://insights.threesixtygiving.org/">Insights</a></li>
			<li><a href="https://standard.threesixtygiving.org/en/latest/">Publisher Guidance</a></li>
			<li><a href="https://qualitydashboard.threesixtygiving.org/">Quality Dashboard</a></li>
		    </ul>
		</div>

		<div class="footer__column-3 footer__section">
		    <h3 class="footer__heading">Data Quality Tool</h3>
		    <p>The Data Quality Tool is a free tool which converts data provided using the 360Giving Data Standard format between JSON, Excel and CSV formats, checks that the data is valid and provides additional information about its usefulness or quality.</p>
		    <p>If you have questions or feedback, please raise an issue in <a href="https://github.com/threesixtygiving/dataquality/issues">Github</a>.</p>
		</div>

		<div class="footer__column-3 footer__section">
		    <h3 class="footer__heading">360Giving</h3>
		    <p>We help organisations openly publish grants data, and help people use it to improve charitable giving.</p>

		    <p><a href="https://threesixtygiving.org">Find out more about 360Giving</a>.</p>

		</div>

	     </div>

	    <div class="wrapper footer__small-print">
		<a href="https://github.com/threesixtygiving/dataquality/" class="edit-github button button--small button--yellow">Edit on Github</a>
		<p>© Copyright 2022, 360Giving, licensed under a <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons
			Attribution 4.0 International License.<span class="screen-reader-only">(opens in a new
			    tab)</span></a> <br>Icons from the Noun Project: Document by Jamison Wieser and JSON File by useiconic.com. Revision e76b5687.</p>
	    </div>

	    <div class="footer__row wrapper footer__small-print">

		<div class="footer__column-2">
		    <p>
			<strong>360 Giving</strong> (Trading as <strong>360Giving</strong>) is a registered charity <a
			    href="https://register-of-charities.charitycommission.gov.uk/charity-details/?regId=1164883&amp;subId=0">1164883</a>
			and a registered company <a href="https://beta.companieshouse.gov.uk/company/09668396">09668396</a>.
			<br>Registered address: 360Giving, c/o Esmée Fairbairn Foundation, Kings Place, 90 York Way, London N1 9AG.
		    </p>
		    <p class="text-muted">{% blocktrans %}Running version {% endblocktrans %}<a href="https://github.com/threesixtygiving/dataquality/tree/{{ request.tag }}">{{ request.tag }}</a></p>
		</div>
		<div class="footer__column-2 footer__policy-links hide-print">
		    <p><a href="https://www.threesixtygiving.org/privacy/">Privacy Notice</a> | <a href="{% url 'terms' %}">Terms &amp; Conditions</a> | <a href="https://www.threesixtygiving.org/cookie-policy/">Cookie Policy</a> | <a href="https://www.threesixtygiving.org/take-down-policy/">Take Down Policy</a> | <a href="https://www.threesixtygiving.org/about/360giving-code-conduct/">Code of Conduct</a></p>
		</div>
	    </div>
	</footer>

    </footer>