{% extends request.current_app_base_template %}
{% load i18n %}

{% load bootstrap3 %} {# this is needed for lib-cove-web stuff #}
{% block content %}

<style scoped>
  .tab-content input, textarea {
    width: 100% !important;
  }
</style>

<h2>Check your data</h2>
<p>Upload, provide a link to a file, or paste JSON to check and convert your data and get feedback on whether it is valid 360Giving data.
To preview how this tool works, try <a id="load-sample-data-btn" href="#" onClick="document.getElementById('sample-data-form').submit()">loading some sample data</a>.</p>
<form method="POST" action="" style="display: none;" id="sample-data-form">
  {% csrf_token %}
  <input type="hidden" name="source_url" value="https://github.com/ThreeSixtyGiving/sample-data/blob/master/ExampleTrust-grants-fixed.xlsx?raw=true">
  <input type="submit">
</form>

<div class="tabs">
  {% if 'upload' in input_methods %}
  <span class="tab tab--active" role="tablist" aria-multiselectable="true">
    <a class="tab__inner" href="#upload" id="upload-tab-link">
      {% trans "Upload" %}
    </a>
  </span>
  {% endif %}

  {% if 'url' in input_methods %}
  <span class="tab" role="tablist" aria-multiselectable="true">
    <a class="tab__inner" href="#link" id="link-tab-link">
      {% trans "Link" %}
    </a>
  </span>
  {% endif %}

  {% if 'text' in input_methods %}
  <span class="tab" role="tablist" aria-multiselectable="true">
    <a class="tab__inner" href="#paste" id="paste-tab-link">
      {% trans "Paste" %}
    </a>
  </span>
  {% endif %}

  <span class="tabs-empty-bar"></span>
</div>

{% if 'upload' in input_methods %}
<div id="upload-tab" class="tab-content" aria-labelledby="upload-tab-link">
  <form method="POST" action="." class="generic-form" enctype="multipart/form-data">{% csrf_token %}
    {% bootstrap_form forms.upload_form %}
    {% buttons %}

    <button type="submit" class="margin-top:2 button button--teal-dark button--solid" id="submit-upload-btn">
      {% trans 'Check Data' %}
    </button>
    {% endbuttons %}
  </form>
</div>
{% endif %}

{% if 'url' in input_methods %}
<div id="link-tab" style="display:none" class="tab-content" aria-labelledby="link-tab-link">
  <form method="POST" action="." class="generic-form" id="fetchURL">{% csrf_token %}
    <label for="id_source_url">Provide a link to your file</label>
    <input type="url" name="source_url" maxlength="2000" placeholder="URL to your 360Giving data file (.xlsx, .ods, .csv, .json)" id="id_source_url" required>
    <button type="submit" class="margin-top:2 button button--teal-dark button--solid" id="submit-link-btn">
      {% trans 'Check Data' %}
    </button>
  </form>
</div>
{% endif %}

{% if 'text' in input_methods %}
<div id="paste-tab" style="display:none" class="tab-content" aria-labelledby="paste-tab-link">
  <form method="POST" class="generic-form" action=".">{% csrf_token %}
    {% bootstrap_form forms.text_form %}
    {% buttons %}
    <button type="submit" class="margin-top:2 button button--teal-dark button--solid" id="submit-paste-btn">
      {% trans 'Check Data' %}
    </button>
    {% endbuttons %}
  </form>
</div>
{% endif %}


<p style="text-align: center;" class="margin-bottom:3"><a href="{% url 'publishing' %}" >Or submit your data for publication.</a></p>

{% endblock %}
