{% extends "input_base.html" %}

{% block precontent %}
<div class="row">
  <div class="col-md-8">
    <h2>Check your data</h2>
    <p>Upload or provide a link to a file, or paste JSON to check and convert your data and get feedback on whether it is valid 360Giving data.</p>
  </div>
</div>
{% endblock %}

{% block postcontent %}
{% if DATA_SUBMISSION_ENABLED %}
<div class="row">
    <div class="col-md-8">
      <h2>Submit your data</h2>
      <p>Submit your 360Giving data file to the <a href="https://data.threesixtygiving.org/">360Giving Data Registry</a>. Your file will also be checked to make sure you are submitting valid 360Giving data.</p>

    </div>
  </div>

<div class="panel panel-default">
  <div class="panel-body">
    <form method="GET" action="." id="self-publishing-form">
      {% csrf_token %}
      <input type="hidden" name="self_publishing" value="true">
      <div class="form-group">
        <label for="source-url-input" class="control-label">Provide a link to your file:</label>
        <input id="source-url-input" type="url" name="source_url" class="form-control">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" title="Submit your data" id="submit-for-publishing-btn">
            Submit
        </button>
        <p>Read our guidance on <a href="https://standard.threesixtygiving.org/en/latest/guidance/submit-data/">how to submit your data</a>.</p>
    </div>
    </form>
  </div>
</div>
{% endif %}

{% endblock %}
