{% extends "explore.html" %}
{% load i18n %}
{% block content %}
 <div class="panel panel-default">
    <div class="panel-heading" >
      <h3 class="panel-title panel-title-explore">
        {% if data_status.can_publish %}
          <span class="font-tick tick" aria-hidden="true"></span>
        {% endif %}
        {% trans "Submit your data" %}</h3>
        </div>
      <div class="panel-body" id="publisher-not-found-message">
        <p>{% blocktrans %}Sorry you aren't able to submit this file because the domain name of the website hosting your file ({{source_url_domain}}) is not authorised for publishing 360Giving data.{% endblocktrans %}</p>
        <p>{% blocktrans %}Please email 360Giving helpdesk via <a href="mailto:support@threesixtygiving.org">support@threesixtygiving.org</a> with the link to the file you want to submit to the Data Registry.{% endblocktrans %}</p>
    </div>
  </div>

  <script>
    window.addEventListener('load', function() {

      let domainValidation, dataValidation, validation;

      if ('{{ data_status.can_publish }}' === 'True') {
        domainValidation = "domain-valid"
      } else {
        domainValidation = 'domain-invalid'
      }

      if ('{{ data_status.passed }}' === 'True') {
        dataValidation = "data-valid"
      } else {
        dataValidation = 'data-invalid'
      }

      validation = domainValidation + '-' + dataValidation;
      source = '{{ source_url }}'

      _paq.push(['trackEvent', 'Status', validation, source]);
      _paq.push(['trackPageView']);
    })
  </script>
{% endblock %}
