{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h3>Problem submitting your data</h3>
<div id="publisher-not-found-message">
  <p>{% blocktrans %}Sorry you aren't able to submit this file because the domain name of the website hosting your file
    ({{source_url_domain}}) is not authorised for publishing 360Giving data.{% endblocktrans %}</p>
  <p>{% blocktrans %}Please email 360Giving helpdesk via <a
      href="mailto:support@threesixtygiving.org">support@threesixtygiving.org</a> with the link to the file you want to
    submit to the Data Registry.{% endblocktrans %}</p>
</div>

<script>
  window.addEventListener('load', function () {
    const publisherValidation = 'domain-invalid';
    const dataValidation = 'data-unchecked';
    const validation = publisherValidation + '-' + dataValidation;
    const source = '{{ source_url }}';

    _paq.push(['trackEvent', 'Status', validation, source]);
    _paq.push(['trackPageView']);
  });
</script>
{% endblock %}
