{% extends request.current_app_base_template %}
{% load i18n %}
{% block content %}
    {% with app=request.current_app %}
        <div>
            {% comment %}
            The content is split into many small templates.
            This is so if one cove instance wants to change only one small bit of the page, they can do so by providing replacement templates of only the bit they want to change.
            For example, a cove instance may want to keep most of the page the same but add legal content for another tracker.
            {% endcomment %}
	    <h1>Terms &amp; conditions</h1>

	    <p>
	    This web application is free software provided by <a href="https://www.360giving.org/">360Giving</a>, designed to help people check data published to the 360Giving Data Standard.
	    </p>

	    <p>
	    It is offered as service without any warranty; without even the implied warranty of merchantability or fitness for a particular purpose.
	    </p>

	    <p>
	    The use of this tool is subject to these specific terms and conditions, as well as our <a href="https://www.360giving.org/legal-policies/terms-conditions/">general terms and conditions</a>.
	    </p>

	    <p>
	    The site is built and maintained by Open Data Services Co-operative Limited.
	    </p>

	    <p>
	    Open Data Services Co-operative Limited's company registration number is 09506232. Their registered address is 1st Floor, Holyoake House, Hanover Street, Manchester, Greater Manchester, England, M60 0AS. Email: <a href="mailto:company@opendataservices.coop">company@opendataservices.coop</a>
	    </p>

	    <h2>How we use cookies</h2>

	    <p>
	    This website is subject to <a href="https://www.360giving.org/legal-policies/cookie-policy/">360Giving’s Cookie Policy</a>. You can choose to accept or decline cookies.
	    </p>

	    <h2>Privacy Notice</h2>

	    <p>
	    This website is subject to 360Giving’s <a href="https://www.360giving.org/legal-policies/privacy/">Privacy Notice</a>.
	    </p>

	    <h3>Addendums to Privacy Notice</h3>
	    <p>
	    The following items are addendums to the 360Giving Privacy Notice which apply to this site specifically.
	    </p>

	    <h4>Understanding website visitor and traffic patterns</h4>

	    <p>
	    We collect data about your visits to the website for the purpose of analysing how the website is used so that we can improve it. A self-hosted copy of Matomo is used for this.
	    </p>

	    <p>
	    Personal data we collect:
	    </p>

	    <ul>
		    <li>Your IP address - this is pseudonymised by redacting the second half of the address</li>
		    <li>Referrer (what page you arrived at one of our web pages from)</li>
		    <li>Information about your device, Operating System (OS) and browser</li>
	    </ul>

	    <p>
	    We do not use this data to personally identify individuals, but it is possible that it could be used to do so, particularly if combined with other datasets.
	    </p>

	    <p>
	    You can opt out of this processing: if you select “Disable Analytics” in our cookie pop-up or have set your web browser to "I do not want to be tracked" (DoNotTrack is enabled) then Matomo will not track your visit.
	    </p>

	    <p>
	    Data processors: 360Giving, Open Data Services Co-operative Limited, Mythic Beasts.
	    </p>

	    <p>
	    No data is transferred to third countries or international organisations.
	    </p>

	    <p>
	    The data is kept indefinitely, in pseudonymised form.
	    </p>

	    <h4>Understanding server behaviour</h4>

	    <p>
	    We collect data about your visits to the website in server logs. This is for the purpose of debugging network issues, monitoring server usage, and identifying malicious usage.
	    </p>

	    <p>
	    Personal data we collect:
	    </p>

	    <ul>
		    <li>Your IP address</li>
		    <li>User agent (information about the OS and browser that you use)</li>
		    <li>Referrer (what page you arrived at one of our web pages from)</li>

		    <p>
		    Data processors: 360Giving, Open Data Services Co-operative Limited, Mythic Beasts.
		    </p>

		    <p>
		    No data is transferred to third countries or international organisations.
		    </p>

		    <p>
		    The data is kept indefinitely.
		    </p>

		    <h4>Identifying and being alerted to software errors</h4>

		    <p>When an error occurs on our site, we record details about the visit that caused it. We use Sentry for this.</p>
		    <p>Data we collect:</p>

		    <ul>
			    <li>Your IP address</li>
			    <li>User agent (information about the OS and browser that you use)</li>
			    <li>Referrer (what page you arrived at one of our web pages from)</li>
		    </ul>

		    <p>We do not use this data to personally identify individuals, but it is possible that it could be used to do so, particularly if combined with other datasets.</p>

		    <p>Data processors: Open Data Services Co-operative Limited, Sentry (Functional Software, Inc.)</p>

		    <p>Data is transferred to Functional Software, Inc. who are based in the USA.</p>

		    <p>The data is kept for 90 days.</p>

		    <h4>Data uploaded to this website</h4>

		    <p>
		    This application is designed so that people can submit files to the application, allow the application to process them and to then display information about them, generate alternative file formats of the original data, and provide those files for download.
		    </p>

		    <p>
		    Please do not submit any non-public personal data to this application.
		    </p>

		    <p>
		    Data processors do not make use of any of the data within the files for purposes other than to create reports for you about the data you have submitted and to review the operation and output of the website.
		    </p>

		    <p>
		    We do create and store metadata about your use of the application, and about the files/data that you have uploaded in order to monitor how the application is being used.
		    </p>

		    <p>
		    We may use the data, metadata, and reports to identify users whose submissions have failed validation and contact them to help them resolve issues with their file.
		    </p>

		    <h2>Deleting our copies of the files</h2>

		    <p>
		    When you provide data to the application, we store the data you have provided in order to process it for you. We also enable derived versions of the data to be downloaded. Those derived versions and the original data are stored on our server.
		    </p>

		    <p>
		    After a period of time, we will delete those files from our server, meaning they are no-longer available for download.
		    </p>

		    <p>
		    Information about how long files will be stored is made available to users directly through the interface, but will be for no longer than one year from the date of submission.
		    </p>

		    <p>
		    If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible at the above address. We will promptly correct any information found to be incorrect.
		    </p>

	</div>
    {% endwith %}
{% endblock %}
