{% if google_analytics_id %}

    <h4>Google Analytics</h4>

    <p>Personal data we collect:</p>

    <ul class="simple">
    <li>Your IP address</li>
    <li>Referrer (what page you arrived at one of our web pages from)</li>
    <li>Information about your device, OS and browser</li>
    </ul>

    <p>We do not use this data to personally identify individuals, but it is possible that it could be used to do so, particularly if combined with other datasets.</p>
    <p>Data processors: Google Analytics, Open Data Services Co-operative Limited</p>

    {% include "terms_tracker_data_controller_international.html" %}

    <p>Data is transferred to Google Analytics, who may transfer data to third countries (non-EEA).</p>
    <p>The data is kept indefinitely, in pseudonymised form.</p>

{% endif %}
