-r requirements_cove.in

black
flake8
pytest
pytest-django
pytest-cov
pytest-localserver
pytest-xdist
coveralls
selenium<4.3.0
transifex-client
libsass
Sphinx
recommonmark
sphinx_rtd_theme
hypothesis==6.13.0
chromedriver-autoinstaller
