{% load i18n %}
{% load humanize %}
{% load cove_tags %}

  <h2>Data Accuracy</h2>


  {% if quality_accuracy_checks_passed %}
  <h3>What is working well</h3>
  <p>Congratulations, <strong>{{quality_accuracy_checks_passed|length}}</strong> of our data accuracy checks passed.</p>
  {% endif %}


  {% if quality_accuracy_errored %}
   <p>{% blocktrans %}Quality accuracy checks failed due to an issue with the data. Fix some <a href="#validity">validation</a> errors first.{% endblocktrans %}</p>
  {% else %}

  {% if quality_accuracy_checks %}
  <h3>Potential issues</h3>
  <p class="explanation">{% blocktrans %}These checks highlight areas where your data may be incorrect or need further attention.{% endblocktrans %}</p>
    {% blocktrans %}
    <p>For each check we give feedback on the issue and what steps may be taken to resolve it.</p>
    <p>Receiving this feedback does not mean the data is invalid, and it can be ignored when not relevant.</p>
    {% endblocktrans %}
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>{% trans 'Passed' %}</th>
        <th>{% trans 'Check Description' %} </th>
        <th>{% trans 'First 3 Locations' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for message, json_location, spreadsheet_location in quality_accuracy_checks %}
      <tr>
        <td><i class="material-icons table--false"></i></td>
        <td>
          <strong>{{ message.heading }}</strong><br><br>{{ message.message }}
        </td>
        {% if file_type == 'xlsx' or file_type == 'csv' %}
        <td style="white-space: nowrap">
          <ul class="list-unstyled">
            {% for location in spreadsheet_location|slice:":3" %}
            <li> <b>Sheet:</b> {{location.sheet}} <b>Row:</b> {{location.row_number}} {% if location.header %} <b>Header:</b> {{location.header}} {% endif %} </li>
            {% endfor %}
            {% if spreadsheet_location|length > 3 %}
            <li><button class="button button--small" data-toggle="modal" data-target-class="{{"quality_accuracy-checks-"|concat:forloop.counter}}">see all</button></li>
            {% endif %}
          </ul>
        </td>
        {% else %}
        <td>
          <ul class="list-unstyled">
            {% for location in json_location|slice:":3" %}
            <li>{{location}}</li>
            {% endfor %}
            {% if json_location|length > 3 %}
            <li><button class="button button--small" data-toggle="modal" data-target-class="{{"quality_accuracy-checks-"|concat:forloop.counter}}" >see all</button></li>
            {% endif %}
          </ul>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No accuracy issues found.</p>
  {% endif %}

{% for message, json_location, spreadsheet_location in quality_accuracy_checks %}
{% with msg=message.heading %}
{% if file_type == 'json' %}
{% cove_modal_errors className="quality_accuracy-checks-"|concat:forloop.counter modalTitle=msg errorList=json_location file_type=file_type full_table=False %}
{% else %}
{% cove_modal_errors className="quality_accuracy-checks-"|concat:forloop.counter modalTitle=msg errorList=spreadsheet_location file_type=file_type full_table=False %}
{% endif %}
{% endwith %}
{% endfor %}

{% endif %} {# Quality accuracy errored #}