{% load i18n %}
{% load humanize %}
{% load cove_tags %}
{% load cove_360_tags %}

<h2>Usefulness Opportunities</h2>

  {% if validation_and_closed_codelist_errors_count > 0 %}
  <p><strong>Caution:</strong> The data provided did <a href="#validity">not pass validation</a>, therefore the usefulness of the data could not be fully determined.</a>

  {% elif usefulness_checks_count == 0 %}
  <p><i class="material-icons table--true">check</i>Congratulations! Your data includes {{total_usefulness_checks}} key features that make 360Giving data useful. Learn more about <a href="{% url 'additional_checks' %}">how we assess usefulness</a>.</p>
  {% endif %}

  {% if usefulness_checks_errored %}
    <p>{% blocktrans %}Some Usefulness checks failed due to an issue with the data.{% endblocktrans %}</p>
  {% endif %}



  {% if usefulness_checks_count %}

      <p>Your data was checked for {{total_usefulness_checks}} key features that make 360Giving data useful. Learn more about <a href="{% url 'additional_checks' %}">how we assess usefulness</a>.</p>

      <p>{% blocktrans %}Use the feedback below to find and review the opportunities to improve the usefulness of the data in your file. Note that receiving this feedback does not mean the data is invalid so it may be ignored when not relevant.{% endblocktrans %}</p>

      {% for category in usefulness_categories %}
      <h4>{{category}}</h4>

      <table class="table">
      <thead>
        <tr>
          <th>{% trans 'Issue' %}</th>
          <th>{% trans 'Description' %} </th>
          <th>{% trans 'Location' %}</th>
        </tr>
      </thead>
      <tbody>
      {% for message, json_location, spreadsheet_location in usefulness_checks %}
      {% if message.category == category %}
      <tr>
        <td title="{% if message.importance >= 100 %}Critical issue{% else %}Issue{% endif %}"><span style="font-size: xx-large; font-weight: bold; color: {% if message.importance >= 100 %}hsl(var(--red-hsl), 1) {% else %}hsl(var(--yellow-hsl), 1){% endif %}">!</span></td>
          <td>
            <!-- {{message.type}} -->
            <strong>{{ message.heading }}</strong><br /><br />{{ message.message }}
          </td>
          <td>
            <button title="Open dialog to see where the identified issue is in the data." class="button button--small" data-toggle="modal" data-target-class="{{"usefulness-checks-"|concat:forloop.counter}}">See where</button>
          </td>
      </tr>
      {% endif %} {# end category filter #}
      {% endfor %}
      </tbody>
      </table>
      {% endfor %} {# categories #}

    {% endif %} {# if count #}

    {% for message, json_location, spreadsheet_location in usefulness_checks %}
      {% with msg=message.heading %}
        {% if file_type == 'json' %}
          {% cove_360_modal_errors className="usefulness-checks-"|concat:forloop.counter modalTitle=msg errorList=json_location file_type=file_type full_table=False %}
        {% else %}
          {% cove_360_modal_errors className="usefulness-checks-"|concat:forloop.counter modalTitle=msg errorList=spreadsheet_location file_type=file_type full_table=False %}
        {% endif %}
      {% endwith %}
    {% endfor %}
