
<h2>Data uploaded to this website</h2>

<p>This application is designed so that people can submit files to the application, allow the application to process them and to then display information about them, generate alternative file formats of the original data, and provide those files for download.</p>

<p>Please do not submit any non-public personal data to this application.</p>

<p>We do not make use of any of the data within the files for purposes other than to create reports for you about the data you have submitted and to review the operation and output of the website.</p>

<p>We do create and store metadata about your use of the application, and about the files/data that you have uploaded in order to monitor how the application is being used.</p>
