

<h2 id="privacy_notice">Privacy Notice</h2>

{% include "terms_privacy_intro.html" %}

<p>You have the following rights concerning this data: <ul>
 <li>Right to be informed, which is the purpose of this privacy notice</li>
 <li>Right to Access, Rectification, Erasure, and to Restrict Processing. Note that the right to Erasure and Restrict Processing are balanced against our legitimate interests. Where relevant, you need to provide information to re-identify yourself from our pseudonymised data, see <a href="https://gdpr-info.eu/art-11-gdpr/">GDPR Article 11</a></li>
<li>Right to object to our processing.</li>
</ul></p>

<p>Our supervisory authority is the <a href="https://ico.org.uk/">ICO in the UK</a>. You have the right to lodge a complaint with them.</p>

<p>We process personal data for the following purposes: <ul>
<li>Understanding website visitor and traffic patterns</li>
<li>Understanding server behaviour</li>
<li>Identifying and being alerted to software errors</li>
</ul></p>

We rely on <a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/lawful-basis-for-processing/legitimate-interests/">legitimate interests</a> (<a href="https://gdpr-info.eu/art-6-gdpr/">GDPR Article 6(1)(f)</a>) as the lawful basis for this processing. Details about the type of data, the purpose of the processing and legitimate interests, and the storage and retention of the data are set out below.

