<p>
{% if app == 'cove_360' %}360Giving{% endif %}
{% if app == 'cove_iati' %}Open Data Services Co-operative Limited{% endif %}
is committed to ensuring that your privacy is protected. This privacy notice sets out how we collect and process any personal data when you use this website.</p>

<p>We may change this notice from time to time by updating this page. This notice is effective from 24th May 2018.</p>

<p>Data controller:<br/>
{% if app == 'cove_360' %}
  360Giving, c/o Esmée Fairbairn Foundation, King's Place, 90 York Way, London, N1 9AG.
{% elif app == 'cove_iati' %}
  Open Data Services Co-operative Limited, 1st Floor, Holyoake House, Hanover Street, Manchester, Greater Manchester, England, M60 0AS. <a href="mailto:inbox+opendataservices+443f+data-protection@plan.io">inbox+opendataservices+443f+data-protection@plan.io</a>.
{% endif %}
<br/>Contact us if would like a copy of the information held on you or if you believe that any information we are holding on you is incorrect or incomplete.
{% if app == 'cove_360' %}
  You can contact us by email at: <a href="mailto:info@threesixtygiving.org">info@threesixtygiving.org</a>
{% endif %}
</p>
