<h3>Understanding server behaviour</h3>
We collect data about your visits to the website in server logs. This is for the purpose of debugging network issues, monitoring server usage, and identifying malicious usage.

<p>Personal data we collect:<ul>
<li>Your IP address</li>
<li>User agent (information about the OS and browser that you use)</li>
<li>Referrer (what page you arrived at one of our web pages from)</li>
</ul>We do not use this data to personally identify individuals, but it is possible that it could be used to do so, particularly if combined with other datasets.</p>

<p>Data processors: {% if app != 'cove_iati' %}Open Data Services Co-operative Limited, {% endif %}Bytemark.</p>

{% include "terms_tracker_data_controller_international.html" %}

{% include "terms_tracker_no_international.html" %}

<p>The data is kept indefinitely.</p>
