
<h2>Deleting our copies of the files</h2>
<p>When you provide data to the application we store the data you have provided in order to process it for you. We also enable derived versions of the data to be downloaded. Those derived versions and the original data are stored on our server.</p>

<p>After a period of time we will delete those files from our server, meaning they are no-longer available for download.</p>

<p>Information about how long files will be stored is made available to users directly through the interface, but will be for no longer than one year from the date of submission.</p>

<p>If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible at the above address. We will promptly correct any information found to be incorrect.</p>
