{% load i18n %} {% load humanize %} {% load cove_tags %}

{% trans 'Converted from Original' as converted %}
{% trans 'Original' as original %}
{% trans 'Excel Spreadsheet (.xlsx)' as xlsx %}
{% trans 'OpenDocument Spreadsheet (.ods)' as ods %}
{% trans 'CSV Spreadsheet (.csv)' as csv %}
{% trans 'Excel Spreadsheet (.xlsx) with titles' as xlsx_titles %}
{% trans 'OpenDocument Spreadsheet (.ods) with titles' as ods_titles %}
{# Translators: JSON probably does not need a transalation: http://www.json.org/ #}
{% trans 'JSON' as JSON %}
{% trans 'XML' as XML %}



<h2>Checking file <strong>&quot;{{file_name}}&quot;</strong></h2>

<div
  class="margin-top:1 margin-bottom:2"
  style="display: flex; flex-direction: row; justify-content: end"
>
  <a href="{% url 'index' %}">Load new file</a>
  <span class="margin-left:1 margin-right:1">|</span>
  <a href="{% url 'publishing' %}{% if source_url %}?url={{source_url}}{% endif %}">Submit your data</a>
</div>

<div>
  <div class="grid grid--three-columns">
    <div class="grid__1">
      <div class="base-card base-card--red">
        <div class="base-card__content">
          <h2 class="base-card__title">
            {{validation_and_closed_codelist_errors_count}}
          </h2>
          <p class="base-card__text">Validity errors to fix</p>
        </div>
      </div>
    </div>

    <div class="grid__1">
      <div class="base-card base-card--yellow">
        <div class="base-card__content">
          <h2 class="base-card__title">
            {% if validation_and_closed_codelist_errors_count > 0 %}
            ?
            {% else %}
            {{quality_accuracy_checks_count}}
            {% endif %}
          </h2>
          <p class="base-card__text">Potential accuracy issues</p>
        </div>
      </div>
    </div>

    <div class="grid__1">
      <div class="base-card base-card--teal">
        <div class="base-card__content">
          <h2 class="base-card__title">
            {% if validation_and_closed_codelist_errors_count > 0 %}
            ?
            {% else %}
            {{usefulness_checks_count }}
            {% endif %}
          </h2>
          <p class="base-card__text">Usefulness opportunities</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end grid -->

  <div class="spacer-4"></div>

  <div class="tabs">
    <span class="tab tab--active" role="tablist" aria-multiselectable="true">
      <a
        class="tab__inner"
        href="#summary"
        id="summary-tab-link"
      >
        {% trans "Summary" %}
      </a>
    </span>


  {% if additional_fields_count %}
    <span class="tab" role="tablist" aria-multiselectable="true">
      <a
        class="tab__inner"
        href="#additional-fields"
        id="additional-fields-tab-link"
      >
        {% trans "Additional Fields" %} ({{additional_fields_count}})
      </a>
    </span>
  {% endif %}

    {% if conversion_warning_messages %}
    <span class="tab" role="tablist" aria-multiselectable="true">
      <a
        class="tab__inner"
        href="#conversion-errors"
        id="conversion-errors-tab-link"
      >
        {% trans "Conversion Errors" %} ({{conversion_warning_messages|length}})
      </a>
    </span>
    {% endif %}

    <span class="tab" role="tablist" aria-multiselectable="true">
      <a
        class="tab__inner"
        href="#validity"
        id="validity-tab-link"
      >
        {% trans "Validity" %} ({{validation_and_closed_codelist_errors_count}})
      </a>
    </span>

    <span class="tab" role="tablist" aria-multiselectable="true">
      <a
        class="tab__inner"
        href="#accuracy"
        id="accuracy-tab-link"
      >
        {% trans "Accuracy" %} ({% if validation_and_closed_codelist_errors_count %}?{% else %}{{quality_accuracy_checks_count}}{% endif %})
      </a>
    </span>

    <span class="tab" role="tablist" aria-multiselectable="true">
      <a
        class="tab__inner"
        href="#usefulness"
        id="usefulness-tab-link"
      >
      {% trans "Usefulness" %} ({% if validation_and_closed_codelist_errors_count %}?{% else %}{{usefulness_checks_count }}{% endif %})
          </a>
    </span>
  </div>

  <!-- / tabs -->

  <style scoped>
    .tab-content table {
      width: 100%;
    }
  </style>
  <div id="summary-tab" class="tab-content">
  {% include "cove_360/components/explore/summary.html" %}
  </div>

  {% if conversion_warning_messages or conversion_error %}
  <div id="conversion-errors-tab" class="tab-content">
  {% include "cove_360/components/explore/conversion_errors.html" %}
  </div>
  {% endif %}


  {% if additional_fields_count %}
  <div id="additional-fields-tab" class="tab-content">
  {% include "cove_360/components/explore/additional_fields.html" %}
  </div>
  {% endif %}

  <div id="validity-tab" style="display:none" class="tab-content">
    {% include "cove_360/components/explore/validity.html" %}
  </div>

  <div id="accuracy-tab" style="display:none" class="tab-content">
    {% include "cove_360/components/explore/accuracy.html" %}
  </div>

  <div id="usefulness-tab" style="display:none" class="tab-content">
    {% include "cove_360/components/explore/usefulness.html" %}
  </div>
</div>

<div class="spacer-4"></div>

<script>
</script>