<hr class="separator-light">
<h3 id="further-help">Getting further help</h3>
<p>Read <a href="https://standard.threesixtygiving.org/en/latest/guidance/data-quality/">our guidance</a> on how to use the Data Quality Tool.</p>
<p>Visit our <a href="https://qualitydashboard.threesixtygiving.org/alldata">Data Quality Dashboard</a> to see the data quality of 360Giving data as a whole and for each individual publisher. If you have already published data, you can view your own publisher page there too. It provides insights into the key features that make the data useful for analysis to help publishers to identify opportunities for their data to be improved.</p>
